* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  padding: 45px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: end;
}
.nav-user-icon {
  background-color: rgb(21, 20, 17);
  border-radius: 50%;
  border: 1px solid orange;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-user-icon-image {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  object-fit: contain;
}

.upload-container {
  padding: 60px 45px 60px;
}
.upload-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  border: 2px dashed orange;
  border-radius: 10px;
  margin-top: 20px;
}

.upload-button {
  display: flex;
  border-radius: 64px;
  cursor: pointer;
  height: 64px;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  background-color: rgb(252, 174, 29);
  color: white;
  font-weight: bold;
  font-size: 25px;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(255, 197, 90);
}
.upload-button:hover {
  background-color: darkorange;
}
.upload-button-container {
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#progress-bar {
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(00, 00, 00, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 10px;
}
.progress {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid white;
  border-left-width: 0px;
  animation: rotation 2s linear infinite;
}
.file-list-container {
  text-align: center;
}

.file-list-container h2 {
  margin-bottom: 10px;
}

#file-list {
  list-style: none;
  padding: 0;
}

#file-list li {
  background: #f8f8f8;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.confirm-button {
  background-color: green;
  color: white;
  font-size: 18px;
  height: 64px;
  width: 200px;
  font-weight: bold;
  font-size: 25px;
  border-radius: 64px;
  cursor: pointer;
  margin-top: 10px;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(47, 249, 135);
}
.confirm-button:hover {
  background-color: darkgreen;
}
.download-button {
  background-color: blue;
  color: white;
  cursor: pointer;
  display: flex;
  border-radius: 64px;
  height: 64px;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  font-weight: bold;
  font-size: 25px;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(114, 150, 247);
}

.download-button:hover {
  background-color: darkblue;
}
